<!--eslint-disable-->
<template>
  <ul class="catalog__list">
    <li class="catalog__item" v-for="(product, index) in products" :key="index">
      <a class="catalog__pic" href="#">
        <img v-bind:src="product.image" v-bind:alt="product.title">
      </a>

      <h3 class="catalog__title">
        <a href="#">{{ product.title }}</a>
      </h3>

      <span class="catalog__price">{{ product.price }} &#8381;</span>

      <ul class="colors colors--black">
        <li class="colors__item" v-for="(color,i) in product.colors">
          <label class="colors__label">
            <input class="colors__radio sr-only" type="radio" v-bind:name="color" v-bind:value="color" checked="">
            <span class="colors__value" v-bind:style="{'background-color': color}"></span>
          </label>
        </li>
      </ul>
    </li>

  </ul>
</template>

<script>
export default {
  props: ['products'],
};
</script>
